@tailwind base;
@tailwind components;
@tailwind utilities;
.text-small {
  font-size: 12px;
}

.custom-menu > li {
  border-bottom: 1px solid gray;
  padding: 1rem;
}

.custom-container {
  max-width: 980px;
  margin: 0 auto;
}
